USE [master]
GO
/****** Object:  Database [HÖGSTADIESKOLA]    Script Date: 2025-01-29 20:08:44 ******/
CREATE DATABASE [HÖGSTADIESKOLA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HÖGSTADIESKOLA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HÖGSTADIESKOLA_Primary.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HÖGSTADIESKOLA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HÖGSTADIESKOLA_Primary.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HÖGSTADIESKOLA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HÖGSTADIESKOLA]
GO
/****** Object:  Table [dbo].[CLASSES]    Script Date: 2025-01-29 20:08:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASSES](
	[CLASSID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[TEACHERID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CLASSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRADES]    Script Date: 2025-01-29 20:08:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRADES](
	[GRADEID] [int] IDENTITY(1,1) NOT NULL,
	[STUDENTID] [int] NULL,
	[SUBJECTID] [int] NULL,
	[TEACHERID] [int] NULL,
	[DATE] [date] NOT NULL,
	[GRADERID] [int] NULL,
	[GRADETYPEID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[GRADEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRADETYPE]    Script Date: 2025-01-29 20:08:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRADETYPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GRADE] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONAL]    Script Date: 2025-01-29 20:08:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONAL](
	[PERSONALID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[LASTNAME] [varchar](50) NOT NULL,
	[EPOST] [varchar](100) NOT NULL,
	[NUMBER] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PERSONALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POSITIONS]    Script Date: 2025-01-29 20:08:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSITIONS](
	[ID] [int] NULL,
	[POSITION] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENTS]    Script Date: 2025-01-29 20:08:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENTS](
	[STUDENTID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[LASTNAME] [varchar](50) NOT NULL,
	[PERSONUMBER] [varchar](50) NOT NULL,
	[EPOST] [varchar](100) NOT NULL,
	[CLASSID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[STUDENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBJECTS]    Script Date: 2025-01-29 20:08:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBJECTS](
	[SUBJECTID] [int] IDENTITY(1,1) NOT NULL,
	[SUBJECTS] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SUBJECTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CLASSES] ON 

INSERT [dbo].[CLASSES] ([CLASSID], [NAME], [TEACHERID]) VALUES (1, N'8A', 2)
INSERT [dbo].[CLASSES] ([CLASSID], [NAME], [TEACHERID]) VALUES (2, N'8B', 1)
INSERT [dbo].[CLASSES] ([CLASSID], [NAME], [TEACHERID]) VALUES (3, N'7A', 4)
SET IDENTITY_INSERT [dbo].[CLASSES] OFF
GO
SET IDENTITY_INSERT [dbo].[GRADES] ON 

INSERT [dbo].[GRADES] ([GRADEID], [STUDENTID], [SUBJECTID], [TEACHERID], [DATE], [GRADERID], [GRADETYPEID]) VALUES (1, 2, 1, 4, CAST(N'2025-01-08' AS Date), 4, 2)
INSERT [dbo].[GRADES] ([GRADEID], [STUDENTID], [SUBJECTID], [TEACHERID], [DATE], [GRADERID], [GRADETYPEID]) VALUES (2, 1, 1, 4, CAST(N'2025-01-09' AS Date), 4, 3)
INSERT [dbo].[GRADES] ([GRADEID], [STUDENTID], [SUBJECTID], [TEACHERID], [DATE], [GRADERID], [GRADETYPEID]) VALUES (3, 3, 2, 5, CAST(N'2025-01-09' AS Date), 5, 1)
GO
SET IDENTITY_INSERT [dbo].[GRADES] OFF
GO
SET IDENTITY_INSERT [dbo].[GRADETYPE] ON 

INSERT [dbo].[GRADETYPE] ([ID], [GRADE]) VALUES (1, N'A')
INSERT [dbo].[GRADETYPE] ([ID], [GRADE]) VALUES (2, N'B')
INSERT [dbo].[GRADETYPE] ([ID], [GRADE]) VALUES (3, N'C')
SET IDENTITY_INSERT [dbo].[GRADETYPE] OFF
GO
SET IDENTITY_INSERT [dbo].[PERSONAL] ON 

INSERT [dbo].[PERSONAL] ([PERSONALID], [NAME], [LASTNAME], [EPOST], [NUMBER]) VALUES (1, N'INGER', N'LARSSON', N'INGER2@GMAIL.COM', N'072-154-13-34')
INSERT [dbo].[PERSONAL] ([PERSONALID], [NAME], [LASTNAME], [EPOST], [NUMBER]) VALUES (2, N'JAN', N'ANDER', N'JAN4@GMAIL.COM', N'072-143-32-22')
INSERT [dbo].[PERSONAL] ([PERSONALID], [NAME], [LASTNAME], [EPOST], [NUMBER]) VALUES (3, N'GANDALF', N'WHITE', N'GANDALFSAVEFRODO@GMAIL.COM', N'072-240-00')
SET IDENTITY_INSERT [dbo].[PERSONAL] OFF
GO
INSERT [dbo].[POSITIONS] ([ID], [POSITION]) VALUES (1, N'TEACHER')
INSERT [dbo].[POSITIONS] ([ID], [POSITION]) VALUES (2, N'TEACHER')
INSERT [dbo].[POSITIONS] ([ID], [POSITION]) VALUES (3, N'PRINCIPAL')
GO
SET IDENTITY_INSERT [dbo].[STUDENTS] ON 

INSERT [dbo].[STUDENTS] ([STUDENTID], [NAME], [LASTNAME], [PERSONUMBER], [EPOST], [CLASSID]) VALUES (1, N'FRODO', N'BAGGING', N'4204404', N'FRODORING@GMAIL.COM', 1)
INSERT [dbo].[STUDENTS] ([STUDENTID], [NAME], [LASTNAME], [PERSONUMBER], [EPOST], [CLASSID]) VALUES (2, N'SAM', N'WISE', N'24244404', N'SAMTHEMAN@GMAIL.COM', 1)
INSERT [dbo].[STUDENTS] ([STUDENTID], [NAME], [LASTNAME], [PERSONUMBER], [EPOST], [CLASSID]) VALUES (3, N'GOLLUM', N'HORROR', N'7070744', N'GOLLUMTHEMIGHTY@GMAIL.COM', 2)
SET IDENTITY_INSERT [dbo].[STUDENTS] OFF
GO
SET IDENTITY_INSERT [dbo].[SUBJECTS] ON 

INSERT [dbo].[SUBJECTS] ([SUBJECTID], [SUBJECTS]) VALUES (1, N'MATHEMATICS')
INSERT [dbo].[SUBJECTS] ([SUBJECTID], [SUBJECTS]) VALUES (2, N'GYMNASTICS')
INSERT [dbo].[SUBJECTS] ([SUBJECTID], [SUBJECTS]) VALUES (3, N'ENGLISH')
SET IDENTITY_INSERT [dbo].[SUBJECTS] OFF
GO
ALTER TABLE [dbo].[CLASSES]  WITH CHECK ADD FOREIGN KEY([TEACHERID])
REFERENCES [dbo].[PERSONAL] ([PERSONALID])
GO
ALTER TABLE [dbo].[GRADES]  WITH CHECK ADD FOREIGN KEY([GRADERID])
REFERENCES [dbo].[PERSONAL] ([PERSONALID])
GO
ALTER TABLE [dbo].[GRADES]  WITH CHECK ADD FOREIGN KEY([GRADETYPEID])
REFERENCES [dbo].[GRADETYPE] ([ID])
GO
ALTER TABLE [dbo].[GRADES]  WITH CHECK ADD FOREIGN KEY([STUDENTID])
REFERENCES [dbo].[STUDENTS] ([STUDENTID])
GO
ALTER TABLE [dbo].[GRADES]  WITH CHECK ADD FOREIGN KEY([SUBJECTID])
REFERENCES [dbo].[SUBJECTS] ([SUBJECTID])
GO
ALTER TABLE [dbo].[GRADES]  WITH CHECK ADD FOREIGN KEY([TEACHERID])
REFERENCES [dbo].[PERSONAL] ([PERSONALID])
GO
ALTER TABLE [dbo].[POSITIONS]  WITH CHECK ADD FOREIGN KEY([ID])
REFERENCES [dbo].[PERSONAL] ([PERSONALID])
GO
ALTER TABLE [dbo].[STUDENTS]  WITH CHECK ADD FOREIGN KEY([CLASSID])
REFERENCES [dbo].[CLASSES] ([CLASSID])
GO
/****** Object:  StoredProcedure [dbo].[INSTERTSTUDENTS]    Script Date: 2025-01-29 20:08:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSTERTSTUDENTS]
@NAME NVARCHAR(50),
@LASTNAME NVARCHAR(50),
@PERSONUMBER NVARCHAR(50),
@EPOST NVARCHAR(50),
@CLASSID INT
AS
BEGIN 
INSERT INTO STUDENTS (NAME,LASTNAME,PERSONUMBER,EPOST,CLASSID) VALUES (@NAME,@LASTNAME,@PERSONUMBER,@EPOST,@CLASSID)
END
GO
/****** Object:  StoredProcedure [dbo].[SELECTALLEMPLOYEES]    Script Date: 2025-01-29 20:08:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SELECTALLEMPLOYEES]
AS
SELECT 
PERSONAL.NAME,
PERSONAL.LASTNAME,
PERSONAL.EPOST,
PERSONAL.NUMBER,
POSITIONS.POSITION
FROM PERSONAL
JOIN POSITIONS ON POSITIONS.ID = PERSONALID
GO
/****** Object:  StoredProcedure [dbo].[SELECTALLEMPLOYEESSINCATEGORY]    Script Date: 2025-01-29 20:08:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SELECTALLEMPLOYEESSINCATEGORY] @POSITION NVARCHAR(50)
AS
SELECT  
PERSONAL.NAME,
PERSONAL.LASTNAME,
PERSONAL.EPOST,
PERSONAL.NUMBER,
POSITIONS.POSITION
FROM PERSONAL
JOIN POSITIONS ON POSITIONS.ID = PERSONAL.PERSONALID
WHERE POSITION = @POSITION
GO
USE [master]
GO
